<div scrollx class="about-me-section-container">
  <div class="about-me-section">
    <div class="title">
      <h4 class="title__section">Qui suis-je</h4>
      <h5 class="title__complement"> Développeur Full - Stack & Etudiant</h5>
    </div>

    <div class="about-me-section__describe">
      <p class="text-range">
        Post emensos insuperabilis expeditionis eventus languentibus
        partium animis, quas periculorum varietas fregerat et laborum,
        nondum tubarum cessante clangore vel milite locato per stationes
        hibernas, fortunae saevientis procellae tempestates alias rebus
        infudere communibus per multa illa et dira facinora Caesaris Galli,
        qui ex squalore imo miseriarum in aetatis adultae primitiis ad
        principale culmen insperato saltu provectus ultra terminos potestatis
        delatae procurrens asperitate nimia cuncta foedabat. propinquitate
        enim regiae stirpis gentilitateque etiam tum
      </p>
    </div>


  </div>
  <img class="me-entire" src="assets/me.webp" alt="c'est encore moi !!" />
</div>

